@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bangers&display=swap');

@font-face {
    font-family: "AmarelinhaW01-Bold";
    src: url("//db.onlinewebfonts.com/t/6e3131b90f7cc7465a20d7d9e2603e80.eot");
    src: url("//db.onlinewebfonts.com/t/6e3131b90f7cc7465a20d7d9e2603e80.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/6e3131b90f7cc7465a20d7d9e2603e80.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/6e3131b90f7cc7465a20d7d9e2603e80.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/6e3131b90f7cc7465a20d7d9e2603e80.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/6e3131b90f7cc7465a20d7d9e2603e80.svg#AmarelinhaW01-Bold") format("svg");
}

.Amatic-SC {
    font-family: 'Amatic SC', cursive;
}

.Bangers {
    font-family: 'Bangers', cursive;
}

.Trattatello {
    font-family: 'Trattatello', fantasy;
}

.App {
    text-align: center;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.nav-link {
    padding: 0 15px !important;
    font-weight: lighter;
    color: black !important;
    transition: .5s;
}

.nav-link:hover {
    color: rgba(0, 0, 0, 0.8) !important;
}

.nav-link img {
    transition: .2s;
}

.nav-link:hover img {
    margin-top: -4px;
}

.pet {
    transition: .3s;
    cursor: pointer;
}

.pet:hover {
    box-shadow: 0 .125rem .4rem rgba(0, 0, 0, .2) !important;
}

.pet .card-body {
    overflow: hidden !important;
}

.nav-text-shadow {
    text-shadow: rgba(0, 0, 0, 0.84) 0 0 2px;
}

.text-black-55 {
    color: rgba(0, 0, 0, .55) !important;
}

#petFilter label.custom-control-label {
    cursor: pointer;
    font-size: 1.3em;
    color: rgb(147, 49, 1);
    letter-spacing: .05em;
}
